@import './lib/normalize';
@import './lib/reset';
// @import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

.sbdocs-p {
  margin: 0 !important;
}
a {
  text-decoration: underline;
  cursor: pointer;
  color: cadetblue;
}
